---
swagger: "2.0"
info:
  description: "<p>オープンAPI仕様書（PDF版）は下記リンクをご参照ください</p>\n<div>\n  <div style='display:inline-block;'><a\
    \ style='text-decoration:none; font-weight:bold; color:#00b8d4;' href='https://gmo-aozora.com/business/service/api-specification.html'\
    \ target='_blank'>オープンAPI仕様書</a></div><div style='display:inline-block; margin-left:2px;\
    \ left:2px; width:10px; height:10px; border-top:2px solid #00b8d4; border-right:2px\
    \ solid #00b8d4; transparent;-webkit-transform:rotate(45deg); transform: rotate(45deg);'></div>\n\
    </div>\n<h4 style='margin-top:30px; border-left: solid 4px #1B2F48; padding: 0.1em\
    \ 0.5em; color:#1B2F48;'>共通仕様</h4>\n<div style='width:100%; margin:10px;'>\n \
    \ <p style='font-weight:bold; color:#616161;'>＜HTTPリクエストヘッダ＞</p>\n  <div style='display:table;\
    \ margin-left:10px; background-color:#29659b;'>\n    <div style='display:table-cell;\
    \ min-width:130px; padding:9px; border:1px solid #fff; color:#fff;'>項目</div>\n\
    \    <div style='display:table-cell; width:85%; padding:9px; border:1px solid\
    \ #fff; color:#fff;'>仕様</div>\n  </div>\n  <div style='display:table; margin-left:10px;'>\n\
    \    <div style='display:table-cell; min-width:130px; padding:9px; border:1px\
    \ solid #fff; color:#fff; background-color:#29659b;'>プロトコル</div>\n    <div style='display:table-cell;\
    \ width:85%; padding:9px; border:1px solid #fff; background-color:#f8f8f8;'>HTTP1.1/HTTPS</div>\n\
    \  </div>\n  <div style='display:table; margin-left:10px;'>\n    <div style='display:table-cell;\
    \ min-width:130px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>charset</div>\n\
    \    <div style='display:table-cell; width:85%; padding:9px; border:1px solid\
    \ #fff; background-color:#f8f8f8;'>UTF-8</div>\n  </div>\n  <div style='display:table;\
    \ margin-left:10px;'>\n    <div style='display:table-cell; min-width:130px; padding:9px;\
    \ border:1px solid #fff; color:#fff; background-color:#29659b;'>content-type</div>\n\
    \    <div style='display:table-cell; width:85%; padding:9px; border:1px solid\
    \ #fff; background-color:#f8f8f8;'>application/json</div>\n  </div>\n  <div style='display:table;\
    \ margin-left:10px;'>\n    <div style='display:table-cell; min-width:130px; padding:9px;\
    \ border:1px solid #fff; color:#fff; background-color:#29659b;'>domain_name</div>\n\
    \    <div style='display:table-cell; width:85%; padding:9px; border:1px solid\
    \ #fff; background-color:#f8f8f8;'>\n      本番環境：api.gmo-aozora.com</br>\n    \
    \  開発環境：stg-api.gmo-aozora.com\n    </div>\n  </div>\n  <div style='display:table;\
    \ margin-left:10px;'>\n    <div style='display:table-cell; min-width:130px; padding:9px;\
    \ border:1px solid #fff; color:#fff; background-color:#29659b;'>メインURL</div>\n\
    \    <div style='display:table-cell; width:85%; padding:9px; border:1px solid\
    \ #fff; background-color:#f8f8f8;'>\n      https://{domain_name}/ganb/api/corporation/{version}</br>\n\
    \      <span style='border-bottom:solid 1px;'>Version:1.x.x</span> の場合</br>\n\
    \      　https://api.gmo-aozora.com/ganb/api/corporation/<span style='border-bottom:solid\
    \ 1px;'>v1</span>\n    </div>\n  </div>\n</div>\n<div style='margin:20px 10px;'>\n\
    \  <p style='font-weight:bold; color:#616161;'>＜リクエスト共通仕様＞</p>\n  <p style='padding-left:20px;\
    \ font-weight:bold; color:#616161;'>NULLデータの扱い</p>\n  <p style='padding-left:40px;'>パ\
    ラメータの値が空の場合、またはパラメータ自体が設定されていない場合、どちらもNULLとして扱います</p>\n</div>\n<div style='margin:20px\
    \ 10px;'>\n  <p style='font-weight:bold; color:#616161;'>＜レスポンス共通仕様＞</p>\n  <p\
    \ style='padding-left:20px; font-weight:bold; color:#616161;'>NULLデータの扱い</p>\n\
    \  <ul>\n    <li>レスポンスデータ</li>\n      <ul>\n        <li style='list-style-type:none;'>レ\
    スポンスデータの値が空の場合または、レスポンスデータ自体が設定されない場合は「項目自体を設定しません」と記載</li>\n      </ul>\n   \
    \ <li>配列</li>\n      <ul>\n        <li style='list-style-type:none;'>配列の要素の値が空\
    の場合は「空のリスト」と記載</li>\n        <li style='list-style-type:none;'>配列自体が設定されない場合は「\
    項目自体を設定しません」と記載</li>\n      </ul>\n  </ul>\n</div>\n<div style='margin:20px 10px;'>\n\
    \  <p style='font-weight:bold; color:#616161;'>＜更新系APIに関する注意事項＞</p>\n  <ul>\n\
    \    <li style='list-style-type:none;'>更新系処理がタイムアウトとなった場合、処理自体は実行されている可能性があります\
    ので、</li>\n    <li style='list-style-type:none;'>再実行を行う必要がある場合は必ず照会系の処理で実行状況を確認\
    してから再実行を行ってください</li>\n  </ul>\n</div>\n"
  version: "1.1.12"
  title: "GMO Aozora Net Bank Open API"
host: "stg-api.gmo-aozora.com"
basePath: "/ganb/api/corporation/v1"
tags:
- name: "account"
  description: "口座"
- name: "transfer"
  description: "振込・振替"
- name: "bulk-transfer"
  description: "総合振込"
- name: "virtual-account"
  description: "振込入金口座"
schemes:
- "https"
paths:
  /accounts:
    get:
      tags:
      - "account"
      summary: "口座一覧照会"
      description: "保有する全ての口座情報一覧を照会します"
      operationId: "accountsUsingGET"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "x-access-token"
        in: "header"
        description: "アクセストークン\n\nminLength: 1\nmaxLength: 128\n"
        required: true
        type: "string"
        x-exportParamName: "XAccessToken"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/AccountsResponse"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorResponse"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        406:
          description: "Not Acceptable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        411:
          description: "Length Required"
          schema:
            $ref: "#/definitions/ErrorResponse"
        412:
          description: "Precondition Failed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        415:
          description: "Unsupported media type"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/ErrorResponse"
      deprecated: false
      x-code-samples:
      - lang: "cURL"
        source: "curl -X GET \\\n  https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts\
          \ \\\n  -H 'accept: application/json;charset=UTF-8' \\\n  -H 'x-access-token:\
          \ your access token'\n"
      - lang: "Ruby"
        source: "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts\"\
          )\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode\
          \ = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"\
          x-access-token\"] = 'your access token'\nrequest[\"accept\"] = 'application/json;charset=UTF-8'\n\
          \nresponse = http.request(request)\nputs response.read_body\n"
      - lang: "Python"
        source: "import http.client\n\nconn = http.client.HTTPSConnection(\"api.gmo-aozora.com\"\
          )\n\nheaders = {\n    'x-access-token': \"your access token\",\n    'accept':\
          \ \"application/json;charset=UTF-8\"\n    }\n\nconn.request(\"GET\", \"\
          /ganb/api/simulator/corporation/v1/accounts\", headers=headers)\n\nres =\
          \ conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))\n"
      - lang: "PHP"
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n\
          \  CURLOPT_URL => \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts\"\
          ,\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS\
          \ => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n\
          \  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n \
          \   \"accept: application/json;charset=UTF-8\",\n    \"x-access-token: your\
          \ access token\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\
          \ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n\
          } else {\n  echo $response;\n}\n"
      - lang: "Java"
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new\
          \ Request.Builder()\n  .url(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts\"\
          )\n  .get()\n  .addHeader(\"x-access-token\", \"your access token\")\n \
          \ .addHeader(\"accept\", \"application/json;charset=UTF-8\")\n  .build();\n\
          \nResponse response = client.newCall(request).execute();\n"
      - lang: "Node"
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts',\n\
          \  headers: \n   { accept: 'application/json;charset=UTF-8',\n     'x-access-token':\
          \ 'your access token' } };\n\nrequest(options, function (error, response,\
          \ body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: "Go"
        source: "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\
          \n)\n\nfunc main() {\n\n  url := \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts\"\
          \n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"\
          x-access-token\", \"your access token\")\n  req.Header.Add(\"accept\", \"\
          application/json;charset=UTF-8\")\n\n  res, _ := http.DefaultClient.Do(req)\n\
          \n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n\
          \  fmt.Println(string(body))\n\n}\n"
      - lang: "Swift"
        source: "import Foundation\n\nlet headers = [\n  \"x-access-token\": \"your\
          \ access token\",\n  \"accept\": \"application/json;charset=UTF-8\"\n]\n\
          \nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts\"\
          )! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n\
          \                                    timeoutInterval: 10.0)\nrequest.httpMethod\
          \ = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\n\
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler:\
          \ { (data, response,error) -> Void in\n  if (error != nil) {\n    print(error)\n\
          \  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n\
          \  }\n})\n\ndataTask.resume()\n"
  /accounts/balances:
    get:
      tags:
      - "account"
      summary: "残高照会"
      description: "保有する口座の残高情報を照会します\n口座IDを指定した場合、該当する口座の残高情報を照会します\n口座IDを指定しない場合\
        、保有する口座全ての残高情報を照会します\n"
      operationId: "balancesUsingGET"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "accountId"
        in: "query"
        description: "口座ID\n口座を識別するID\n\nminLength: 12\nmaxLength: 29\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "101011234567"
        x-exportParamName: "AccountId"
        x-optionalDataType: "String"
      - name: "x-access-token"
        in: "header"
        description: "アクセストークン\n\nminLength: 1\nmaxLength: 128\n"
        required: true
        type: "string"
        x-exportParamName: "XAccessToken"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/BalancesResponse"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorResponse"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        406:
          description: "Not Acceptable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        411:
          description: "Length Required"
          schema:
            $ref: "#/definitions/ErrorResponse"
        412:
          description: "Precondition Failed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        415:
          description: "Unsupported media type"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/ErrorResponse"
      deprecated: false
      x-code-samples:
      - lang: "cURL"
        source: "curl -X GET \\\n  'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192'\
          \ \\\n  -H 'accept: application/json;charset=UTF-8' \\\n  -H 'x-access-token:\
          \ your access token'\n"
      - lang: "Ruby"
        source: "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192\"\
          )\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode\
          \ = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"\
          x-access-token\"] = 'your access token'\nrequest[\"accept\"] = 'application/json;charset=UTF-8'\n\
          \nresponse = http.request(request)\nputs response.read_body\n"
      - lang: "Python"
        source: "import http.client\n\nconn = http.client.HTTPSConnection(\"api.gmo-aozora.com\"\
          )\n\nheaders = {\n    'x-access-token': \"your access token\",\n    'accept':\
          \ \"application/json;charset=UTF-8\"\n    }\n\nconn.request(\"GET\", \"\
          /ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192\"\
          , headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"\
          utf-8\"))\n"
      - lang: "PHP"
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n\
          \  CURLOPT_URL => \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192\"\
          ,\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS\
          \ => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n\
          \  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n \
          \   \"accept: application/json;charset=UTF-8\",\n    \"x-access-token: your\
          \ access token\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\
          \ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n\
          } else {\n  echo $response;\n}\n"
      - lang: "Java"
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new\
          \ Request.Builder()\n  .url(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192\"\
          )\n  .get()\n  .addHeader(\"x-access-token\", \"your access token\")\n \
          \ .addHeader(\"accept\", \"application/json;charset=UTF-8\")\n  .build();\n\
          \nResponse response = client.newCall(request).execute();\n"
      - lang: "Node"
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances',\n\
          \  qs: { accountId: '301011000192' },\n  headers: \n   { accept: 'application/json;charset=UTF-8',\n\
          \     'x-access-token': 'your access token' } };\n\nrequest(options, function\
          \ (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: "Go"
        source: "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\
          \n)\n\nfunc main() {\n\n  url := \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192\"\
          \n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"\
          x-access-token\", \"your access token\")\n  req.Header.Add(\"accept\", \"\
          application/json;charset=UTF-8\")\n\n  res, _ := http.DefaultClient.Do(req)\n\
          \n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n\
          \  fmt.Println(string(body))\n\n}\n"
      - lang: "Swift"
        source: "import Foundation\n\nlet headers = [\n  \"x-access-token\": \"your\
          \ access token\",\n  \"accept\": \"application/json;charset=UTF-8\"\n]\n\
          \nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/balances?accountId=301011000192\"\
          )! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n\
          \                                    timeoutInterval: 10.0)\nrequest.httpMethod\
          \ = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\n\
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler:\
          \ { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n\
          \  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n\
          \  }\n})\n\ndataTask.resume()\n"
  /accounts/transactions:
    get:
      tags:
      - "account"
      summary: "入出金明細照会"
      description: "<p>指定した円普通預金口座の入出金明細情報を照会します</p>\n<h4 style='margin-top:30px;\
        \ border-left: solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>詳細\
        説明</h4>\n<div style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>対\
        象科目</p>\n  <p style='padding-left:20px;'>円普通預金口座</p>\n</div>\n<div style='margin:10px;'>\n\
        \  <p style='font-weight:bold; color:#616161;'>取得上限件数</p>\n  <p style='padding-left:20px;'>500件\
        </p>\n  <p style='padding-left:20px;'>取得できる明細数が500に満たないときは取得できる明細のみを返却します\
        </p>\n  <p style='padding-left:20px;'>取得できる明細が存在しない場合は「200：OK」とし明細を返却しません\
        </p>\n</div>\n<div style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>ペ\
        ージング</p>\n  <p style='padding-left:20px;'>2ページ目以降を照会する際は、初回と同じリクエスト内容に、初回レ\
        スポンスの次明細キーを追加してリクエストしてください</p>\n</div>\n<div style='margin:10px;'>\n  <p style='font-weight:bold;\
        \ color:#616161;'>ソート順</p>\n  <p style='padding-left:20px;'>取引の昇順</p>\n</div>\n\
        <div style='width:600px; margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>対\
        象期間</p>\n  <div style='display:table; margin-left:20px; background-color:#29659b;'>\n\
        \    <div style='display:table-cell; width:160px; padding:9px; border:1px\
        \ solid #fff; color:#fff;'>日本語名</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%;\
        \ color:#fff;'>&#9312;</div>\n    <div style='display:table-cell; width:80px;\
        \ padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>対\
        象期間From</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>対象期間To</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　当日分の入出金明細を返却</li>\n\
        \    <li style='list-style-type:none;'>&#9313;の場合　対象期間From　～　当日までの入出金明細を返却\
        </li>\n    <li style='list-style-type:none;'>&#9314;の場合　取引初回　～　対象期間Toまでの入出\
        金明細を返却</li>\n    <li style='list-style-type:none;'>&#9315;の場合　対象期間From　～　対\
        象期間Toまでの入出金明細を返却</li>\n  </ul>\n</div> <div style='margin-bottom:40px;' />\n"
      operationId: "transactionsUsingGET"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "accountId"
        in: "query"
        description: "口座ID\n半角英数字\n口座を識別するID\n科目コードが以下の場合のみ受け付けます\n・01=普通預金（有利息）\n\
          ・02=普通預金（決済用）\n\nminLength: 12\nmaxLength: 29\n"
        required: true
        type: "string"
        allowEmptyValue: false
        x-example: "101011234567"
        x-exportParamName: "AccountId"
      - name: "dateFrom"
        in: "query"
        description: "対象期間From\n半角文字\nYYYY-MM-DD形式\n\nminLength: 10\nmaxLength: 10\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "2018-07-30"
        x-exportParamName: "DateFrom"
        x-optionalDataType: "String"
      - name: "dateTo"
        in: "query"
        description: "対象期間To\n半角文字\nYYYY-MM-DD形式\n対象期間Fromと対象期間Toを指定する場合は、対象期間From≦\
          対象期間Toとし、それ以外は「400 Bad Request」を返却\n\nminLength: 10\nmaxLength: 10\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "2018-08-10"
        x-exportParamName: "DateTo"
        x-optionalDataType: "String"
      - name: "nextItemKey"
        in: "query"
        description: "次明細キー\n半角数字\n初回要求時は未設定\n初回応答で次明細キーが「true」の場合、返却された同項目を2回目以降に\
          設定\n\nminLength: 1\nmaxLength: 24\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "20181012090520112541"
        x-exportParamName: "NextItemKey"
        x-optionalDataType: "String"
      - name: "x-access-token"
        in: "header"
        description: "アクセストークン\n\nminLength: 1\nmaxLength: 128           \n"
        required: true
        type: "string"
        x-exportParamName: "XAccessToken"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TransactionsResponse"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorResponse"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        406:
          description: "Not Acceptable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        411:
          description: "Length Required"
          schema:
            $ref: "#/definitions/ErrorResponse"
        412:
          description: "Precondition Failed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        415:
          description: "Unsupported media type"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/ErrorResponse"
      deprecated: false
      x-code-samples:
      - lang: "cURL"
        source: "curl -X GET \\\n  'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31'\
          \ \\\n  -H 'accept: application/json;charset=UTF-8' \\\n  -H 'x-access-token:\
          \ your access token'\n"
      - lang: "Ruby"
        source: "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31\"\
          )\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode\
          \ = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"\
          x-access-token\"] = 'your access token'\nrequest[\"accept\"] = 'application/json;charset=UTF-8'\n\
          \nresponse = http.request(request)\nputs response.read_body\n"
      - lang: "Python"
        source: "import http.client\n\nconn = http.client.HTTPSConnection(\"api.gmo-aozora.com\"\
          )\n\nheaders = {\n    'x-access-token': \"your access token\",\n    'accept':\
          \ \"application/json;charset=UTF-8\"\n    }\n\nconn.request(\"GET\", \"\
          /ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31\"\
          , headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"\
          utf-8\"))\n"
      - lang: "PHP"
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n\
          \  CURLOPT_URL => \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31\"\
          ,\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS\
          \ => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n\
          \  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n \
          \   \"accept: application/json;charset=UTF-8\",\n    \"x-access-token: your\
          \ access token\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\
          \ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n\
          } else {\n  echo $response;\n}\n"
      - lang: "Java"
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new\
          \ Request.Builder()\n  .url(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31\"\
          )\n  .get()\n  .addHeader(\"x-access-token\", \"your access token\")\n \
          \ .addHeader(\"accept\", \"application/json;charset=UTF-8\")\n  .build();\n\
          \nResponse response = client.newCall(request).execute();\n"
      - lang: "Node"
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions',\n\
          \  qs: \n   { accountId: '301011000192',\n     dateFrom: '2018-07-30',\n\
          \     dateTo: '2018-12-31' },\n  headers: \n   { accept: 'application/json;charset=UTF-8',\n\
          \     'x-access-token': 'your access token' } };\n\nrequest(options, function\
          \ (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: "Go"
        source: "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\
          \n)\n\nfunc main() {\n\n  url := \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31\"\
          \n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"\
          x-access-token\", \"your access token\")\n  req.Header.Add(\"accept\", \"\
          application/json;charset=UTF-8\")\n\n  res, _ := http.DefaultClient.Do(req)\n\
          \n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n\
          \  fmt.Println(string(body))\n\n}\n"
      - lang: "Swift"
        source: "import Foundation\n\nlet headers = [\n  \"x-access-token\": \"your\
          \ access token\",\n  \"accept\": \"application/json;charset=UTF-8\"\n]\n\
          \nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/transactions?accountId=301011000192&dateFrom=2018-07-30&dateTo=2018-12-31\"\
          )! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n\
          \                                    timeoutInterval: 10.0)\nrequest.httpMethod\
          \ = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\n\
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler:\
          \ { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n\
          \  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n\
          \  }\n})\n\ndataTask.resume()\n"
  /accounts/deposit-transactions:
    get:
      tags:
      - "account"
      summary: "振込入金明細照会"
      description: "<p>指定した円普通預金口座の振込入金明細情報を照会します</p>\n<h4 style='margin-top:30px;\
        \ border-left: solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>詳細\
        説明</h4>\n<div style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>対\
        象科目</p>\n  <p style='padding-left:20px;'>円普通預金口座</p>\n</div>\n<div style='margin:10px;'>\n\
        \  <p style='font-weight:bold; color:#616161;'>取得上限件数</p>\n  <p style='padding-left:20px;'>500件\
        </p>\n  <p style='padding-left:20px;'>取得できる明細数が500に満たないときは取得できる明細のみを返却します\
        </p>\n  <p style='padding-left:20px;'>取得できる明細が存在しない場合は「200：OK」とし明細を返却しません\
        </p>\n</div>\n<div style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>ペ\
        ージング</p>\n  <p style='padding-left:20px;'>2ページ目以降を照会する際は、初回と同じリクエスト内容に、初回レ\
        スポンスの次明細キーを追加してリクエストしてください</p>\n</div>\n<div style='margin:10px;'>\n  <p style='font-weight:bold;\
        \ color:#616161;'>ソート順</p>\n  <p style='padding-left:20px;'>取引の昇順</p>\n</div>\n\
        <div style='width:600px; margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>対\
        象期間</p>\n  <div style='display:table; margin-left:20px; background-color:#29659b;'>\n\
        \    <div style='display:table-cell; width:160px; padding:9px; border:1px\
        \ solid #fff; color:#fff;'>日本語名</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%;\
        \ color:#fff;'>&#9312;</div>\n    <div style='display:table-cell; width:80px;\
        \ padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>対\
        象期間From</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>対象期間To</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　当日分の振込入金明細を返却</li>\n\
        \    <li style='list-style-type:none;'>&#9313;の場合　対象期間From　～　当日までの振込入金明細を返\
        却</li>\n    <li style='list-style-type:none;'>&#9314;の場合　取引初回　～　対象期間Toまでの振\
        込入金明細を返却</li>\n    <li style='list-style-type:none;'>&#9315;の場合　対象期間From　～\
        　対象期間Toまでの振込入金明細を返却</li>\n  </ul>\n</div> <div style='margin-bottom:40px;'\
        \ />\n"
      operationId: "accountsDepositTransactionsUsingGET"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "accountId"
        in: "query"
        description: "口座ID\n半角数字\n口座を識別するID\n\nminLength: 12\nmaxLength: 29\n"
        required: true
        type: "string"
        allowEmptyValue: false
        x-example: "101011234567"
        x-exportParamName: "AccountId"
      - name: "dateFrom"
        in: "query"
        description: "対象期間From\n半角文字\nYYYY-MM-DD形式\n\nminLength: 10\nmaxLength: 10\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "2018-07-30"
        x-exportParamName: "DateFrom"
        x-optionalDataType: "String"
      - name: "dateTo"
        in: "query"
        description: "対象期間To\n半角文字\nYYYY-MM-DD形式\n 対象期間Fromと対象期間Toを指定する場合は、対象期間From≦\
          対象期間Toとし、それ以外は「400 Bad Request」を返却\n\nminLength: 10\nmaxLength: 10\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "2018-08-10"
        x-exportParamName: "DateTo"
        x-optionalDataType: "String"
      - name: "nextItemKey"
        in: "query"
        description: "次明細キー\n半角数字\n初回要求時は未設定\n初回応答で次明細フラグが「true」の場合、返却された同項目を2回目以降\
          に設定\n\nminLength: 1\nmaxLength: 24\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "20181012090520123456"
        x-exportParamName: "NextItemKey"
        x-optionalDataType: "String"
      - name: "x-access-token"
        in: "header"
        description: "アクセストークン\n\nminLength: 1\nmaxLength: 128\n"
        required: true
        type: "string"
        x-exportParamName: "XAccessToken"
      responses:
        200:
          description: "OK"
          examples:
            application/json:
              accountId: "101011234567"
              dateFrom: "2018-07-30"
              dateTo: "2018-08-10"
              baseDate: "2018-08-10"
              baseTime: "10:00:00+09:00"
              hasNext: true
              nextItemKey: "20181012090520112541"
              count: "500"
              paymentArrivals:
              - transactionDate: "2018-07-30"
                valueDate: "2018-07-30"
                transactionType: "1"
                remarks: "振込 ｾｲｷﾕｳｼﾖﾊﾞﾝｺﾞｳ123 アオゾラショウジ（カ"
                amount: "50000"
                applicantName: "ｱｵｿﾞﾗｼﾖｳｼﾞ(ｶ"
                paymentBankName: "ｱｵｿﾞﾗｷﾞﾝｺｳ"
                paymentBranchName: "ﾎﾝﾃﾝ"
                ediInfo: "ｾｲｷﾕｳｼﾖﾊﾞﾝｺﾞｳ123"
                itemKey: "20181012090520123456"
              - transactionDate: "2018-07-31"
                valueDate: "2018-07-31"
                transactionType: "1"
                remarks: "振込 ｲ-ﾃﾞ-ｱｲ テスト　タロウ あじさい支店 1036971"
                amount: "10000"
                applicantName: "ﾃｽﾄ ﾀﾛｳ"
                paymentBankName: "ﾎｼｿﾞﾗｷﾞﾝｺｳ"
                paymentBranchName: "ｴｲｷﾞﾖｳﾌﾞ"
                ediInfo: "ｲ-ﾃﾞ-ｱｲ"
                itemKey: "20181012090520112541"
          schema:
            $ref: "#/definitions/DepositTransactionsResponse"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorResponse"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        406:
          description: "Not Acceptable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        411:
          description: "Length Required"
          schema:
            $ref: "#/definitions/ErrorResponse"
        412:
          description: "Precondition Failed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        415:
          description: "Unsupported media type"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/ErrorResponse"
      deprecated: false
      x-code-samples:
      - lang: "cURL"
        source: "curl -X GET \\'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456'\
          \ \\\n  -H 'Accept: application/json;charset=UTF-8' \\\n  -H 'x-access-token:\
          \ your access token'\n"
      - lang: "Ruby"
        source: "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456\"\
          )\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode\
          \ = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"\
          Accept\"] = 'application/json;charset=UTF-8'\nrequest[\"x-access-token\"\
          ] = 'your access token'\n\nresponse = http.request(request)\nputs response.read_body\n"
      - lang: "Python"
        source: "import http.client\n\nconn = http.client.HTTPConnection(\"stg-api,gmo-aozora,com\"\
          )\n\nheaders = {\n    'Accept': \"application/json;charset=UTF-8\",\n  \
          \  'x-access-token': \"your access token\"\n    }\n\nconn.request(\"GET\"\
          , \"ganb/api/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456\"\
          , headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"\
          utf-8\"))\n"
      - lang: "PHP"
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n\
          \  CURLOPT_URL => \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456\"\
          ,\n\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS\
          \ => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n\
          \  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n \
          \   \"Accept: application/json;charset=UTF-8\",\n    \"x-access-token: your\
          \ access token\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\
          \ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n\
          } else {\n  echo $response;\n}"
      - lang: "Java"
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new\
          \ Request.Builder()\n  .url(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456\"\
          )\n  .get()\n  .addHeader(\"Accept\", \"application/json;charset=UTF-8\"\
          )\n  .addHeader(\"x-access-token\", \"your access token\")\n  .build();\n\
          \nResponse response = client.newCall(request).execute();\n"
      - lang: "Node"
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions',\n\
          \  qs: \n   { accountId: '101011234567',\n     dateFrom: '2018-07-30',\n\
          \     dateTo: '2018-08-01',\n     nextItemKey: '20181012090520123456' },\n\
          \  headers: \n   { 'x-access-token': 'your access token',\n     Accept:\
          \ 'application/json;charset=UTF-8' } };\n\nrequest(options, function (error,\
          \ response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: "Go"
        source: "package main\n\nimport (\n \"fmt\"\n \"net/http\"\n \"io/ioutil\"\
          \n)\n\nfunc main() {\n\n url := \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456\"\
          \n\n req, _ := http.NewRequest(\"GET\", url, nil)\n\n req.Header.Add(\"\
          Accept\", \"application/json;charset=UTF-8\")\n req.Header.Add(\"x-access-token\"\
          , \"your access token\")\n\n res, _ := http.DefaultClient.Do(req)\n\n defer\
          \ res.Body.Close()\n body, _ := ioutil.ReadAll(res.Body)\n\n fmt.Println(res)\n\
          \ fmt.Println(string(body))\n\n}\n"
      - lang: "Swift"
        source: "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json;charset=UTF-8\"\
          ,\n  \"x-access-token\": \"your access token\"\n]\n\nlet request = NSMutableURLRequest(url:\
          \ NSURL(string: \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/accounts/deposit-transactions?accountId=101011234567&dateFrom=2018-07-30&dateTo=2018-08-01&nextItemKey=20181012090520123456\"\
          )! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n\
          \                                    timeoutInterval: 10.0)\nrequest.httpMethod\
          \ = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\n\
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler:\
          \ { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n\
          \  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n\
          \  }\n})\n\ndataTask.resume()\n"
  /va/list:
    post:
      tags:
      - "virtual-account"
      summary: "振込入金口座一覧照会"
      description: "<p>発行済みの振込入金口座の一覧を照会します</p>\n<h4 style='margin-top:30px; border-left:\
        \ solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>詳細説明</h4>\n<div\
        \ style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>リクエ\
        ストボディの振込入金口座IDリスト上限件数</p>\n  <p style='padding-left:20px;'>500件</p>\n</div>\n\
        <div style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>取\
        得上限件数</p>\n  <p style='padding-left:20px;'>500件</p>\n  <p style='padding-left:20px;'>取\
        得できる明細数が500に満たないときは取得できる明細のみを返却します</p>\n  <p style='padding-left:20px;'>取得\
        できる明細が存在しない場合は「200：OK」とし明細を返却しません</p>\n</div>\n<div style='margin:10px;'>\n\
        \  <p style='font-weight:bold; color:#616161;'>ページング</p>\n  <p style='padding-left:20px;'>2ペ\
        ージ目以降を照会する際は、初回と同じリクエスト内容に、初回レスポンスの次一覧キーを追加してリクエストしてください</p>\n</div>\n<div\
        \ style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>ソート\
        順</p>\n  <p style='padding-left:20px;'>発行日時 昇順</p>\n</div>\n<div style='width:600px;\
        \ margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>クエリパラメーター　\
        最終入金日</p>\n  <div style='display:table; margin-left:20px; background-color:#29659b;'>\n\
        \    <div style='display:table-cell; width:160px; padding:9px; border:1px\
        \ solid #fff; color:#fff;'>日本語名</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%;\
        \ color:#fff;'>&#9312;</div>\n    <div style='display:table-cell; width:80px;\
        \ padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>最\
        終入金日From</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>最終入金日To</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　絞りこみ条件なし</li>\n\
        \    <li style='list-style-type:none;'>&#9313;の場合　最終入金日From　～　当日までの振込入金口座情\
        報を返却</li>\n    <li style='list-style-type:none;'>&#9314;の場合　最も過去となる最終入金日　～\
        　最終入金日Toまでの振込入金口座情報を返却</li>\n    <li style='list-style-type:none;'>&#9315;の\
        場合　最終入金日From　～　最終入金日Toまでの振込入金口座情報を返却</li>\n  </ul>\n</div>\n<div style='width:600px;\
        \ margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>クエリパラメーター　\
        振込入金口座発行日</p>\n  <div style='display:table; margin-left:20px; background-color:#29659b;'>\n\
        \    <div style='display:table-cell; width:160px; padding:9px; border:1px\
        \ solid #fff; color:#fff;'>日本語名</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%;\
        \ color:#fff;'>&#9312;</div>\n    <div style='display:table-cell; width:80px;\
        \ padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>振\
        込入金口座発行日From</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>振込入金口座発行日To</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　絞りこみ条件なし</li>\n\
        \    <li style='list-style-type:none;'>&#9313;の場合　振込入金口座発行日From　～　当日までの振込入\
        金口座情報を返却</li>\n    <li style='list-style-type:none;'>&#9314;の場合　最も過去となる口座発\
        行日　～　振込入金口座発行日Toまでの振込入金口座情報を返却</li>\n    <li style='list-style-type:none;'>&#9315;の\
        場合　振込入金口座発行日From　～　振込入金口座発行日Toまでの振込入金口座情報を返却</li>\n  </ul>\n</div>\n<div style='width:600px;\
        \ margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>クエリパラメーター　\
        有効期限</p>\n  <div style='display:table; margin-left:20px; background-color:#29659b;'>\n\
        \    <div style='display:table-cell; width:160px; padding:9px; border:1px\
        \ solid #fff; color:#fff;'>日本語名</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%;\
        \ color:#fff;'>&#9312;</div>\n    <div style='display:table-cell; width:80px;\
        \ padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>有\
        効期限From</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>有効期限To</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　絞りこみ条件なし</li>\n\
        \    <li style='list-style-type:none;'>&#9313;の場合　有効期限From以上の振込入金口座情報を返却</li>\n\
        \    <li style='list-style-type:none;'>&#9314;の場合　最も過去となる有効期限　～　有効期限Toまでの振\
        込入金口座情報を返却</li>\n    <li style='list-style-type:none;'>&#9315;の場合　有効期限From　\
        ～　有効期限Toまでの振込入金口座情報を返却</li>\n  </ul>\n</div>\n<div style='width:600px; margin:10px;'>\n\
        \  <p style='font-weight:bold; color:#616161;'>クエリパラメーター　入金口座ID、　振込入金口座IDの\
        設定別の仕様</p>\n  <div style='display:table; margin-left:20px; background-color:#29659b;'>\n\
        \    <div style='display:table-cell; width:160px; padding:9px; border:1px\
        \ solid #fff; color:#fff;'>日本語名</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%;\
        \ color:#fff;'>&#9312;</div>\n    <div style='display:table-cell; width:80px;\
        \ padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>入\
        金口座ID</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>振込入金口座ID</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　入金口座IDに該当する振込入金口\
        座情報を返却</li>\n    <li style='list-style-type:none;'>&#9313;の場合　振込入金口座IDに該当す\
        る振込入金口座情報を返却</li>\n    <li style='list-style-type:none;'>&#9314;の場合　振込入金口座\
        IDが入金口座IDに紐付いているか判定を行い、OKであれば入金明細を返却し、NGであればエラーを返却します</li>\n  </ul>\n</div>\n\
        <div style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>振\
        込入金口座API認証情報</p>\n  <p style='padding-left:20px;'>提携企業契約時は必須で、この値が設定されていない\
        場合、銀行契約の一覧照会を返却します</p>\n</div>\n"
      operationId: "vaListUsingPOST"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - in: "body"
        name: "body"
        description: "HTTPリクエストボディ"
        required: false
        schema:
          $ref: "#/definitions/VaListRequest"
        x-exportParamName: "Body"
      - name: "x-access-token"
        in: "header"
        description: "アクセストークン\n\nminLength: 1\nmaxLength: 128\n"
        required: true
        type: "string"
        x-exportParamName: "XAccessToken"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/VaListResponse"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorResponse"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        406:
          description: "Not Acceptable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        411:
          description: "Length Required"
          schema:
            $ref: "#/definitions/ErrorResponse"
        412:
          description: "Precondition Failed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        415:
          description: "Unsupported media type"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/ErrorResponse"
      deprecated: false
      x-code-samples:
      - lang: "cURL"
        source: "curl -X POST \\\n  https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list\
          \ \\\n  -H 'Content-Type: application/json' \\\n  -H 'accept: application/json;charset=UTF-8'\
          \ \\\n  -H 'x-access-token: your access token' \\\n  -d '{ \"vaContractAuthKey\"\
          : \"5CSDFG1515A54DF\", \"vaTypeCode\": \"1\", \"depositAmountExistCode\"\
          : \"1\", \"vaHolderNameKana\": \"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\", \"vaStatusCodeList\"\
          : [ { \"vaStatusCode\": \"1\" } ], \"latestDepositDateFrom\": \"2018-08-10\"\
          , \"latestDepositDateTo\": \"2018-08-10\", \"vaIssueDateFrom\": \"2018-07-31\"\
          , \"vaIssueDateTo\": \"2018-08-01\", \"expireDateFrom\": \"2018-08-31\"\
          , \"expireDateTo\": \"2018-09-01\", \"raId\": \"101011234567\", \"nextItemKey\"\
          : \"AABA0515651\", \"sortItemCode\": \"2\", \"sortOrderCode\": \"2\", \"\
          vaIdList\": [ { \"vaId\": \"5021099622\" } ]}'\n"
      - lang: "Ruby"
        source: "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list\"\
          )\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode\
          \ = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"\
          accept\"] = 'application/json;charset=UTF-8'\nrequest[\"Content-Type\"]\
          \ = 'application/json'\nrequest[\"x-access-token\"] = 'your access token'\n\
          request.body = \"{ \\\"vaContractAuthKey\\\": \\\"5CSDFG1515A54DF\\\", \\\
          \"vaTypeCode\\\": \\\"1\\\", \\\"depositAmountExistCode\\\": \\\"1\\\",\
          \ \\\"vaHolderNameKana\\\": \\\"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\\\", \\\"vaStatusCodeList\\\
          \": [ { \\\"vaStatusCode\\\": \\\"1\\\" } ], \\\"latestDepositDateFrom\\\
          \": \\\"2018-08-10\\\", \\\"latestDepositDateTo\\\": \\\"2018-08-10\\\"\
          , \\\"vaIssueDateFrom\\\": \\\"2018-07-31\\\", \\\"vaIssueDateTo\\\": \\\
          \"2018-08-01\\\", \\\"expireDateFrom\\\": \\\"2018-08-31\\\", \\\"expireDateTo\\\
          \": \\\"2018-09-01\\\", \\\"raId\\\": \\\"101011234567\\\", \\\"nextItemKey\\\
          \": \\\"AABA0515651\\\", \\\"sortItemCode\\\": \\\"2\\\", \\\"sortOrderCode\\\
          \": \\\"2\\\", \\\"vaIdList\\\": [ { \\\"vaId\\\": \\\"5021099622\\\" }\
          \ ]}\"\n\nresponse = http.request(request)\nputs response.read_body\n"
      - lang: "Python"
        source: "import http.client\n\nconn = http.client.HTTPConnection(\"api,gmo-aozora,com\"\
          )\n\npayload = \"{ \\\"vaContractAuthKey\\\": \\\"5CSDFG1515A54DF\\\", \\\
          \"vaTypeCode\\\": \\\"1\\\", \\\"depositAmountExistCode\\\": \\\"1\\\",\
          \ \\\"vaHolderNameKana\\\": \\\"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\\\", \\\"vaStatusCodeList\\\
          \": [ { \\\"vaStatusCode\\\": \\\"1\\\" } ], \\\"latestDepositDateFrom\\\
          \": \\\"2018-08-10\\\", \\\"latestDepositDateTo\\\": \\\"2018-08-10\\\"\
          , \\\"vaIssueDateFrom\\\": \\\"2018-07-31\\\", \\\"vaIssueDateTo\\\": \\\
          \"2018-08-01\\\", \\\"expireDateFrom\\\": \\\"2018-08-31\\\", \\\"expireDateTo\\\
          \": \\\"2018-09-01\\\", \\\"raId\\\": \\\"101011234567\\\", \\\"nextItemKey\\\
          \": \\\"AABA0515651\\\", \\\"sortItemCode\\\": \\\"2\\\", \\\"sortOrderCode\\\
          \": \\\"2\\\", \\\"vaIdList\\\": [ { \\\"vaId\\\": \\\"5021099622\\\" }\
          \ ]}\"\n\nheaders = {\n    'accept': \"application/json;charset=UTF-8\"\
          ,\n    'Content-Type': \"application/json\",\n    'x-access-token': \"your\
          \ access token\"\n    }\n\nconn.request(\"POST\", \"ganb/api/simulator/corporation/v1/va/list\"\
          , payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"\
          utf-8\"))\n"
      - lang: "PHP"
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n\
          \  CURLOPT_URL => \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list\"\
          ,\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS\
          \ => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n\
          \  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{ \\\"\
          vaContractAuthKey\\\": \\\"5CSDFG1515A54DF\\\", \\\"vaTypeCode\\\": \\\"\
          1\\\", \\\"depositAmountExistCode\\\": \\\"1\\\", \\\"vaHolderNameKana\\\
          \": \\\"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\\\", \\\"vaStatusCodeList\\\": [ { \\\
          \"vaStatusCode\\\": \\\"1\\\" } ], \\\"latestDepositDateFrom\\\": \\\"2018-08-10\\\
          \", \\\"latestDepositDateTo\\\": \\\"2018-08-10\\\", \\\"vaIssueDateFrom\\\
          \": \\\"2018-07-31\\\", \\\"vaIssueDateTo\\\": \\\"2018-08-01\\\", \\\"\
          expireDateFrom\\\": \\\"2018-08-31\\\", \\\"expireDateTo\\\": \\\"2018-09-01\\\
          \", \\\"raId\\\": \\\"101011234567\\\", \\\"nextItemKey\\\": \\\"AABA0515651\\\
          \", \\\"sortItemCode\\\": \\\"2\\\", \\\"sortOrderCode\\\": \\\"2\\\", \\\
          \"vaIdList\\\": [ { \\\"vaId\\\": \\\"5021099622\\\" } ]}\",\n  CURLOPT_HTTPHEADER\
          \ => array(\n    \"Content-Type: application/json\",\n    \"accept: application/json;charset=UTF-8\"\
          ,\n    \"x-access-token: your access token\"\n  ),\n));\n\n$response = curl_exec($curl);\n\
          $err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"\
          cURL Error #:\" . $err;\n} else {\n  echo $response;\n}\n"
      - lang: "Java"
        source: "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType\
          \ = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType,\
          \ \"{ \\\"vaContractAuthKey\\\": \\\"5CSDFG1515A54DF\\\", \\\"vaTypeCode\\\
          \": \\\"1\\\", \\\"depositAmountExistCode\\\": \\\"1\\\", \\\"vaHolderNameKana\\\
          \": \\\"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\\\", \\\"vaStatusCodeList\\\": [ { \\\
          \"vaStatusCode\\\": \\\"1\\\" } ], \\\"latestDepositDateFrom\\\": \\\"2018-08-10\\\
          \", \\\"latestDepositDateTo\\\": \\\"2018-08-10\\\", \\\"vaIssueDateFrom\\\
          \": \\\"2018-07-31\\\", \\\"vaIssueDateTo\\\": \\\"2018-08-01\\\", \\\"\
          expireDateFrom\\\": \\\"2018-08-31\\\", \\\"expireDateTo\\\": \\\"2018-09-01\\\
          \", \\\"raId\\\": \\\"101011234567\\\", \\\"nextItemKey\\\": \\\"AABA0515651\\\
          \", \\\"sortItemCode\\\": \\\"2\\\", \\\"sortOrderCode\\\": \\\"2\\\", \\\
          \"vaIdList\\\": [ { \\\"vaId\\\": \\\"5021099622\\\" } ]}\");\nRequest request\
          \ = new Request.Builder()\n  .url(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list\"\
          )\n  .post(body)\n  .addHeader(\"accept\", \"application/json;charset=UTF-8\"\
          )\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"\
          x-access-token\", \"your access token\")\n  .build();\n\nResponse response\
          \ = client.newCall(request).execute();\n"
      - lang: "Node"
        source: "var request = require(\"request\");\n\nvar options = { method: 'POST',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list',\n\
          \  headers: \n   { 'x-access-token': 'your access token',\n     'Content-Type':\
          \ 'application/json',\n     accept: 'application/json;charset=UTF-8' },\n\
          \  body: \n   { vaContractAuthKey: '5CSDFG1515A54DF',\n     vaTypeCode:\
          \ '1',\n     depositAmountExistCode: '1',\n     vaHolderNameKana: 'ｼﾞ-ｴﾑ\
          ｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ',\n     vaStatusCodeList: [ { vaStatusCode: '1' }\
          \ ],\n     latestDepositDateFrom: '2018-08-10',\n     latestDepositDateTo:\
          \ '2018-08-10',\n     vaIssueDateFrom: '2018-07-31',\n     vaIssueDateTo:\
          \ '2018-08-01',\n     expireDateFrom: '2018-08-31',\n     expireDateTo:\
          \ '2018-09-01',\n     raId: '101011234567',\n     nextItemKey: 'AABA0515651',\n\
          \     sortItemCode: '2',\n     sortOrderCode: '2',\n     vaIdList: [ { vaId:\
          \ '5021099622' } ] },\n  json: true };\n\nrequest(options, function (error,\
          \ response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n\
          });\n"
      - lang: "Go"
        source: "package main\n\nimport (\n \"fmt\"\n \"strings\"\n \"net/http\"\n\
          \ \"io/ioutil\"\n)\n\nfunc main() {\n\n url := \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list\"\
          \n\n payload := strings.NewReader(\"{ \\\"vaContractAuthKey\\\": \\\"5CSDFG1515A54DF\\\
          \", \\\"vaTypeCode\\\": \\\"1\\\", \\\"depositAmountExistCode\\\": \\\"\
          1\\\", \\\"vaHolderNameKana\\\": \\\"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\\\", \\\"\
          vaStatusCodeList\\\": [ { \\\"vaStatusCode\\\": \\\"1\\\" } ], \\\"latestDepositDateFrom\\\
          \": \\\"2018-08-10\\\", \\\"latestDepositDateTo\\\": \\\"2018-08-10\\\"\
          , \\\"vaIssueDateFrom\\\": \\\"2018-07-31\\\", \\\"vaIssueDateTo\\\": \\\
          \"2018-08-01\\\", \\\"expireDateFrom\\\": \\\"2018-08-31\\\", \\\"expireDateTo\\\
          \": \\\"2018-09-01\\\", \\\"raId\\\": \\\"101011234567\\\", \\\"nextItemKey\\\
          \": \\\"AABA0515651\\\", \\\"sortItemCode\\\": \\\"2\\\", \\\"sortOrderCode\\\
          \": \\\"2\\\", \\\"vaIdList\\\": [ { \\\"vaId\\\": \\\"5021099622\\\" }\
          \ ]}\")\n\n req, _ := http.NewRequest(\"POST\", url, payload)\n\n req.Header.Add(\"\
          accept\", \"application/json;charset=UTF-8\")\n req.Header.Add(\"Content-Type\"\
          , \"application/json\")\n req.Header.Add(\"x-access-token\", \"your access\
          \ token\")\n\n res, _ := http.DefaultClient.Do(req)\n\n defer res.Body.Close()\n\
          \ body, _ := ioutil.ReadAll(res.Body)\n\n fmt.Println(res)\n fmt.Println(string(body))\n\
          \n}\n"
      - lang: "Swift"
        source: "import Foundation\n\nlet headers = [\n  \"accept\": \"application/json;charset=UTF-8\"\
          ,\n  \"Content-Type\": \"application/json\",\n  \"x-access-token\": \"your\
          \ access token\"\n]\nlet parameters = [\n  \"vaContractAuthKey\": \"5CSDFG1515A54DF\"\
          ,\n  \"vaTypeCode\": \"1\",\n  \"depositAmountExistCode\": \"1\",\n  \"\
          vaHolderNameKana\": \"ｼﾞ-ｴﾑｵ-ｱｵｿﾞﾗ(ｶ)ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\",\n  \"vaStatusCodeList\"\
          : [[\"vaStatusCode\": \"1\"]],\n  \"latestDepositDateFrom\": \"2018-08-10\"\
          ,\n  \"latestDepositDateTo\": \"2018-08-10\",\n  \"vaIssueDateFrom\": \"\
          2018-07-31\",\n  \"vaIssueDateTo\": \"2018-08-01\",\n  \"expireDateFrom\"\
          : \"2018-08-31\",\n  \"expireDateTo\": \"2018-09-01\",\n  \"raId\": \"101011234567\"\
          ,\n  \"nextItemKey\": \"AABA0515651\",\n  \"sortItemCode\": \"2\",\n  \"\
          sortOrderCode\": \"2\",\n  \"vaIdList\": [[\"vaId\": \"5021099622\"]]\n\
          ] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject:\
          \ parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string:\
          \ \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/list\"\
          )! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n\
          \                                    timeoutInterval: 10.0)\nrequest.httpMethod\
          \ = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody =\
          \ postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with:\
          \ request as URLRequest, completionHandler: { (data, response, error) ->\
          \ Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let\
          \ httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n\
          \  }\n})\n\ndataTask.resume()"
  /va/deposit-transactions:
    get:
      tags:
      - "virtual-account"
      summary: "振込入金口座入金明細照会"
      description: "<p>振込入金口座の入金明細を照会します</p>\n<h4 style='margin-top:30px; border-left:\
        \ solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>詳細説明</h4>\n<div\
        \ style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>取得上\
        限件数</p>\n  <p style='padding-left:20px;'>500件</p>\n  <p style='padding-left:20px;'>取\
        得できる明細数が500に満たないときは取得できる明細のみを返却します</p>\n  <p style='padding-left:20px;'>取得\
        できる明細が存在しない場合は「200：OK」とし明細を返却しません</p>\n</div>\n<div style='margin:10px;'>\n\
        \  <p style='font-weight:bold; color:#616161;'>ページング</p>\n  <p style='padding-left:20px;'>2ペ\
        ージ目以降を照会する際は、初回と同じリクエスト内容に、初回レスポンスの次明細キーを追加してリクエストしてください</p>\n</div>\n<div\
        \ style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>ソート\
        順</p>\n  <p style='padding-left:20px;'>取引の昇順</p>\n  <p style='padding-left:20px;'>ソ\
        ート順コードを指定することにより、ソート順を変更できます</p>\n</div>\n<div style='width:600px; margin:10px;'>\n\
        \  <p style='font-weight:bold; color:#616161;'>対象期間</p>\n  <div style='display:table;\
        \ margin-left:20px; background-color:#29659b;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff;'>日本語名</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9312;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  \
        \  <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9315;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>対\
        象期間From</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>対象期間To</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　当日分の入金明細を返却</li>\n\
        \    <li style='list-style-type:none;'>&#9313;の場合　対象期間From(※1)　～　当日までの入金明細\
        を返却</li>\n    <li style='list-style-type:none;'>&#9314;の場合　取引初回(※2)　～　対象期間\
        To(※1)までの入金明細を返却</li>\n    <li style='list-style-type:none;'>&#9315;の場合　対象\
        期間From(※1)　～　対象期間To(※1)までの入金明細を返却</li>\n    <li style='list-style-type:none;\
        \ margin-left:10px;'>※1 : 照会する日付より6ヶ月以内の日付とし、超過する日付の場合は「400　Bad Request」を返\
        却</li>\n    <li style='list-style-type:none; margin-left:10px;'>※2 : 照会する日\
        付より6ヶ月以内の取引とし、それを超えた範囲は返却しません</li> \n  </ul>\n</div>\n<div style='width:600px;\
        \ margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>入金口座ID、振込入\
        金口座の設定別の仕様</p>\n  <div style='display:table; margin-left:20px; background-color:#29659b;'>\n\
        \    <div style='display:table-cell; width:160px; padding:9px; border:1px\
        \ solid #fff; color:#fff;'>日本語名</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; text-align:center; font-size:120%;\
        \ color:#fff;'>&#9312;</div>\n    <div style='display:table-cell; width:80px;\
        \ padding:9px; border:1px solid #fff; text-align:center; font-size:120%; color:#fff;'>&#9313;</div>\n\
        \    <div style='display:table-cell; width:80px; padding:9px; border:1px solid\
        \ #fff; text-align:center; font-size:120%; color:#fff;'>&#9314;</div>\n  </div>\n\
        \  <div style='display:table; margin-left:20px;'>\n    <div style='display:table-cell;\
        \ width:160px; padding:9px; border:1px solid #fff; color:#fff; background-color:#29659b;'>入\
        金口座ID</div>\n    <div style='display:table-cell; width:80px; padding:9px;\
        \ border:1px solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>×\
        </div>\n    <div style='display:table-cell; width:80px; padding:9px; border:1px\
        \ solid #fff; background-color:#f8f8f8; font-size:120%; text-align:center;'>○\
        </div>\n  </div>\n  <div style='display:table; margin-left:20px;'>\n    <div\
        \ style='display:table-cell; width:160px; padding:9px; border:1px solid #fff;\
        \ color:#fff; background-color:#29659b;'>振込入金口座ID</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>×</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n    <div style='display:table-cell;\
        \ width:80px; padding:9px; border:1px solid #fff; background-color:#f8f8f8;\
        \ font-size:120%; text-align:center;'>○</div>\n  </div>\n</div>\n<div style='margin:10px;'>\n\
        \  <ul>\n    <li style='list-style-type:none;'>&#9312;の場合　入金口座IDに該当する入金明細を\
        返却します</li>\n    <li style='list-style-type:none;'>&#9313;の場合　振込入金口座IDに該当する\
        入金明細を返却します</li>\n    <li style='list-style-type:none;'>&#9314;の場合　振込入金口座IDが\
        入金口座IDに紐付いているか判定を行い、OKであれば入金明細を返却し、NGであればエラーを返却します</li>\n  </ul>\n</div> <div\
        \ style='margin-bottom:40px;' />\n"
      operationId: "depositTransactionsUsingGET"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vaContractAuthKey"
        in: "query"
        description: "振込入金口座API認証情報\n半角英数字\n銀行契約の方はNULLを設定\n提携企業の方が、契約された顧客の入金明細照会\
          を依頼される場合は必須\n提携企業以外の方が値を設定されている場合は「400 Bad Request」を返却\n\nminLength: 1\n\
          maxLength: 400\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "5CSDFG1515A54DF"
        x-exportParamName: "VaContractAuthKey"
        x-optionalDataType: "String"
      - name: "raId"
        in: "query"
        description: "入金口座ID\n半角数字\n入金先の口座を識別するID\n本値が設定されていない場合、振込入金口座IDは必須\n科目コー\
          ドが以下の口座IDのみ受け付けます\n・01=普通預金（有利息）\n・02=普通預金（決済用）\n\nminLength: 12\nmaxLength:\
          \ 29\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "101011234567"
        x-exportParamName: "RaId"
        x-optionalDataType: "String"
      - name: "vaId"
        in: "query"
        description: "振込入金口座ID\n半角数字\n振込入金口座を識別するID\n本値が設定されていない場合、入金口座IDは必須\n\nminLength:\
          \ 10\nmaxLength: 10\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "5021099622"
        x-exportParamName: "VaId"
        x-optionalDataType: "String"
      - name: "dateFrom"
        in: "query"
        description: "対象期間From\n半角文字\nYYYY-MM-DD形式\n指定する場合は照会する日付より6ヶ月以内の日付とし、超えた場\
          合は「400 Bad Request」を返却\n\nminLength: 10\nmaxLength: 10\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "2018-08-01"
        x-exportParamName: "DateFrom"
        x-optionalDataType: "String"
      - name: "dateTo"
        in: "query"
        description: "対象期間To\n半角文字\nYYYY-MM-DD形式\n指定する場合は照会する日付より6ヶ月以内の日付とし、超えた場合は\
          「400 Bad Request」を返却\n対象期間Fromと対象期間Toを指定する場合は、対象期間From≦対象期間Toとし、それ以外は「400\
          \ Bad Request」を返却\n\nminLength: 10\nmaxLength: 10\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "2018-08-02"
        x-exportParamName: "DateTo"
        x-optionalDataType: "String"
      - name: "sortOrderCode"
        in: "query"
        description: "ソート順コード\n半角数字\n取引日のソート順を指定するコード値\n・1=昇順\n・2=降順\n\nminLength:\
          \ 1\nmaxLength: 1\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "2"
        x-exportParamName: "SortOrderCode"
        x-optionalDataType: "String"
      - name: "nextItemKey"
        in: "query"
        description: "次明細キー\n半角数字\n初回要求時は未設定\n初回応答で次明細キーが「true」の場合、返却された同項目を2回目以降に\
          設定\n\nminLength: 1\nmaxLength: 24\n"
        required: false
        type: "string"
        allowEmptyValue: false
        x-example: "20181012090520112541"
        x-exportParamName: "NextItemKey"
        x-optionalDataType: "String"
      - name: "x-access-token"
        in: "header"
        description: "アクセストークン\n\nminLength: 1\nmaxLength: 128\n"
        required: true
        type: "string"
        x-exportParamName: "XAccessToken"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/VaDepositTransactionsResponse"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorResponse"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        406:
          description: "Not Acceptable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        411:
          description: "Length Required"
          schema:
            $ref: "#/definitions/ErrorResponse"
        412:
          description: "Precondition Failed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        415:
          description: "Unsupported media type"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/ErrorResponse"
      deprecated: false
      x-code-samples:
      - lang: "cURL"
        source: "curl -X GET \\\n  'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1'\
          \ \\\n  -H 'accept: application/json;charset=UTF-8' \\\n  -H 'x-access-token:\
          \ your access token'\n"
      - lang: "Ruby"
        source: "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1\"\
          )\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode\
          \ = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"\
          x-access-token\"] = 'your access token'\nrequest[\"accept\"] = 'application/json;charset=UTF-8'\n\
          \nresponse = http.request(request)\nputs response.read_body\n"
      - lang: "Python"
        source: "import http.client\n\nconn = http.client.HTTPSConnection(\"api.gmo-aozora.com\"\
          )\n\nheaders = {\n    'x-access-token': \"your access token\",\n    'accept':\
          \ \"application/json;charset=UTF-8\"\n    }\n\nconn.request(\"GET\", \"\
          /ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1\"\
          , headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"\
          utf-8\"))\n"
      - lang: "PHP"
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n\
          \  CURLOPT_URL => \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1\"\
          ,\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS\
          \ => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n\
          \  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n \
          \   \"accept: application/json;charset=UTF-8\",\n    \"x-access-token: your\
          \ access token\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\
          \ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n\
          } else {\n  echo $response;\n}\n"
      - lang: "Java"
        source: "OkHttpClient client = new OkHttpClient();\n\nRequest request = new\
          \ Request.Builder()\n  .url(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1\"\
          )\n  .get()\n  .addHeader(\"x-access-token\", \"your access token\")\n \
          \ .addHeader(\"accept\", \"application/json;charset=UTF-8\")\n  .build();\n\
          \nResponse response = client.newCall(request).execute();\n"
      - lang: "Node"
        source: "var request = require(\"request\");\n\nvar options = { method: 'GET',\n\
          \  url: 'https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions',\n\
          \  qs: \n   { raId: '101011000330',\n     dateFrom: '2018-07-30',\n    \
          \ dateTo: '2018-12-31',\n     sortOrderCode: '1' },\n  headers: \n   { accept:\
          \ 'application/json;charset=UTF-8',\n     'x-access-token': 'your access\
          \ token' } };\n\nrequest(options, function (error, response, body) {\n \
          \ if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
      - lang: "Go"
        source: "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\
          \n)\n\nfunc main() {\n\n  url := \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1\"\
          \n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"\
          x-access-token\", \"your access token\")\n  req.Header.Add(\"accept\", \"\
          application/json;charset=UTF-8\")\n\n  res, _ := http.DefaultClient.Do(req)\n\
          \n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n\
          \  fmt.Println(string(body))\n\n}\n"
      - lang: "Swift"
        source: "import Foundation\n\nlet headers = [\n  \"x-access-token\": \"your\
          \ access token\",\n  \"accept\": \"application/json;charset=UTF-8\"\n]\n\
          \nlet request = NSMutableURLRequest(url: NSURL(string: \"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/deposit-transactions?raId=101011000330&dateFrom=2018-07-30&dateTo=2018-12-31&sortOrderCode=1\"\
          )! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n\
          \                                    timeoutInterval: 10.0)\nrequest.httpMethod\
          \ = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\n\
          let dataTask = session.dataTask(with: request as URLRequest, completionHandler:\
          \ { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n\
          \  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n\
          \  }\n})\n\ndataTask.resume()\n"
  /va/issue:
    post:
      tags:
      - "virtual-account"
      summary: "振込入金口座発行"
      description: "<p>振込入金口座の発行を行います</p>\n<p><font color=\"red\">（銀行システムのメンテナンス時は\
        本APIを実行することができないため、予め余分に振込入金口座を発行してプールしておくことをお勧めします）</font></p>\n<h4 style='margin-top:30px;\
        \ border-left: solid 4px #1B2F48; padding: 0.1em 0.5em; color:#1B2F48;'>詳細\
        説明</h4>\n<div style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>発\
        行上限数</p>\n  <p style='padding-left:20px;'>1リクエスト　：　1000口座まで</p>\n</div>\n\
        <div style='margin:10px;'>\n  <p style='font-weight:bold; color:#616161;'>追\
        加名義カナを前につける際の半角スペースについて</p>\n  <ul type='square'>\n    <li style='margin:10px;'>\n\
        \      <p>追加名義カナの右側は1文字のみ許容します</p>\n      <div style='width:600px; '>\n  \
        \      <div style='display:table;'>\n          <div style='display:table-cell;\
        \ width:50px; padding:2px;'>例）</div>\n          <div style='display:table-cell;\
        \ width:50px; padding:2px; font-size:120%; text-align:center;'>○</div>\n \
        \         <div style='display:table-cell; width:200px; padding:2px; text-align:center;'><pre\
        \ style='width:150px;'>「ﾃｽﾄﾆｭｳｷﾝｸﾞﾁ 」</pre></div>\n        </div>\n      \
        \  <div style='display:table;'>\n          <div style='display:table-cell;\
        \ width:50px; padding:2px;'></div>\n          <div style='display:table-cell;\
        \ width:50px; padding:2px; font-size:120%; text-align:center;'>×</div>\n \
        \         <div style='display:table-cell; width:200px; padding:2px; text-align:center;'><pre\
        \ style='width:150px;'>「ﾃｽﾄﾆｭｳｷﾝｸﾞﾁ  」</pre></div>\n        </div>\n     \
        \ </div>\n    </li>\n    <li style='margin:10px;'>\n      <p>追加名義カナの左側は許容し\
        ません</p>\n      <div style='width:600px;'>\n        <div style='display:table;'>\n\
        \          <div style='display:table-cell; width:50px; padding:2px;'>例）</div>\n\
        \          <div style='display:table-cell; width:50px; padding:2px; font-size:120%;\
        \ text-align:center;'>○</div>\n          <div style='display:table-cell; width:200px;\
        \ padding:2px; text-align:center;'><pre style='width:150px;'>「ﾃｽﾄﾆｭｳｷﾝｸﾞﾁ」\
        </pre></div>\n        </div>\n        <div style='display:table;'>\n     \
        \     <div style='display:table-cell; width:50px; padding:2px;'></div>\n \
        \         <div style='display:table-cell; width:50px; padding:2px; font-size:120%;\
        \ text-align:center;'>×</div>\n          <div style='display:table-cell; width:200px;\
        \ padding:2px; text-align:center;'><pre style='width:150px;'>「 ﾃｽﾄﾆｭｳｷﾝｸﾞﾁ\
        」</pre></div>\n        </div>\n      </div>\n    </li>\n    <li style='margin:10px;'>\n\
        \      <p>連続スペースは許容しません</p>\n      <div style='width:600px;'>\n        <div\
        \ style='display:table;'>\n          <div style='display:table-cell; width:50px;\
        \ padding:2px;'>例）</div>\n          <div style='display:table-cell; width:50px;\
        \ padding:2px; font-size:120%; text-align:center;'>○</div>\n          <div\
        \ style='display:table-cell; width:200px; padding:2px; text-align:center;'><pre\
        \ style='width:150px;'>「ﾃｽ ﾄﾆｭｳ ｷﾝｸﾞﾁ」</pre></div>\n        </div>\n     \
        \   <div style='display:table;'>\n          <div style='display:table-cell;\
        \ width:50px; padding:2px;'></div>\n          <div style='display:table-cell;\
        \ width:50px; padding:2px; font-size:120%; text-align:center;'>×</div>\n \
        \         <div style='display:table-cell; width:300px; padding:2px; text-align:center;'><pre\
        \ style='width:150px;'>「ﾃｽ  ﾄﾆｭｳｷﾝｸﾞﾁ」</pre></div>\n        </div>\n     \
        \ </div>\n    </li>\n  </ul>\n</div> <div style='margin-bottom:40px;' />\n"
      operationId: "issueUsingPOST"
      consumes:
      - "application/json;charset=UTF-8"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - in: "body"
        name: "body"
        description: "HTTPリクエストボディ"
        required: false
        schema:
          $ref: "#/definitions/VaIssueRequest"
        x-exportParamName: "Body"
      - name: "x-access-token"
        in: "header"
        description: "アクセストークン\n\nminLength: 1\nmaxLength: 128\n"
        required: true
        type: "string"
        x-exportParamName: "XAccessToken"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/VaIssueResponse"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "Not found"
          schema:
            $ref: "#/definitions/ErrorResponse"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        406:
          description: "Not Acceptable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        411:
          description: "Length Required"
          schema:
            $ref: "#/definitions/ErrorResponse"
        412:
          description: "Precondition Failed"
          schema:
            $ref: "#/definitions/ErrorResponse"
        415:
          description: "Unsupported media type"
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"
        503:
          description: "Service Unavailable"
          schema:
            $ref: "#/definitions/ErrorResponse"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/ErrorResponse"
      deprecated: false
      x-code-samples:
      - lang: "cURL"
        source: "curl -X POST \\\n  https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/issue\
          \ \\\n  -H 'accept: application/json;charset=UTF-8' \\\n  -H 'content-type:\
          \ application/json' \\\n  -H 'x-access-token: your access token' \\\n  -d\
          \ '{\n    \"vaTypeCode\" : \"1\",\n    \"issueRequestCount\" : \"5\",\n\
          \    \"raId\" : \"301011000192\",\n    \"vaContractAuthKey\" : null,\n \
          \   \"vaHolderNameKana\" : \"ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\",\n    \"vaHolderNamePos\" : \"\
          1\"\n  }'\n"
      - lang: "Ruby"
        source: "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.gmo-aozora.com/ganb/api/simulator/corporation/v1/va/issue\"\
          )\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode\
          \ = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"\
          x-access-token\"] = 'your access token'\nrequest[\"content-type\"] = 'application/json'\n\
          request[\"accept\"] = 'application/json;charset=UTF-8'\nrequest.body = \"\
          {\n\\\"vaTypeCode\\\" : \\\"1\\\",\n\\\"issueRequestCount\\\" : \\\"5\\\"\
          ,\n\\\"raId\\\" : \\\"301011000192\\\",\n\\\"vaContractAuthKey\\\" : null,\n\
          \\\"vaHolderNameKana\\\" : \\\"ﾃｽﾄﾆﾕｳｷﾝｸﾞﾁ\\\",\n\\\"vaHolderNamePos\\\"\
          \ : \\\"1\\\"\n}\n\"\n\nresponse = http.request(request)\nputs response.read_body\n"
      - lang: "Python"
        source: "import http.client\n\nconn = http.client.HTTPSConnection(\"api.gmo-aozora.com\"\
          )\n\npayload = \"{\n\\\"vaTypeCode\\\" : \\\"1\\\",\n\\\"issueRequestCount\\\
[...]
